*{
    padding:0;
    margin:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: #fceec8;
}

.container{
    width: 90%;
    margin: auto;
    padding-top: 100px;
    display: flex;
}
/* .left-content, .right-content{
    flex-basis: 50%;

} */
.left-content{
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit,minmax(200px,0.5fr));
    grid-gap: 3rem;
    
}
.right-content{
    width: 100%;
    text-align: center;
    color: black;
    position: sticky;
    top: 10px;
    right: 10px;

}
.right-content h1{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: black;

}
.abilities{
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;

}
.abilities .group{
    background-color: darkolivegreen;
    color: aliceblue;
    padding: 0.5rem;
    font-size: 8px;
    border-radius: 8px;

}
.types{
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;

}
.types .group{
    background-color: crimson;
    color: aliceblue;
    padding: 0.5rem;
    font-size: 8px;
    border-radius: 8px;

}
.base-stat{
   margin-top: 1rem;
   background-color: crimson;
   color: aliceblue;
   font-size: 12px;
   gap: 1rem;
  


}

.card{
    width: 300px;
    background-color: aquamarine;
    border-radius: 1rem;
    box-shadow: 0 5px, 5px rgba(rgb(75, 10, 10), rgb(36, 103, 36), rgb(36, 36, 110), alpha);
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.btn-group{
    display: flex;

}

.btn-group button{
    outline: none;
    border: none;
    width: 150px;
    padding: 0.3rem 0;
    margin: 1rem;
    font-size: 17px;
    font-weight: bold;
    color: aliceblue;
    background-color: crimson;
    border-radius: 8px;

}
.pokeinfo{
    background-color: aliceblue;
}
.pokeinfo h2{
  font-size: small;

}

/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .buttonStyle {
    background: darkolivegreen;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }