*{
    padding:0;
    margin:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: #fceec8;
}

.container{
    width: 90%;
    margin: auto;
    padding-top: 100px;
    display: flex;
}
.left-content, .right-content{
    flex-basis: 50%;

}
.left-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,0.5fr));
    grid-gap: 2rem;
}
.right-content{
    width: 50%;
    text-align: center;
    color: black;
    position: fixed;
    top: 100px;
    right: 10px;

}
.right-content h1{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;

}
.abilities{
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;

}
.abilities .group{
    background-color: crimson;
    color: aliceblue;
    padding: 0.5rem;
    font-size: 12px;
    border-radius: 8px;

}

.base-stat{
   margin-top: 2rem;

}

.card{
    width: 300px;
    background-color: aquamarine;
    border-radius: 1rem;
    box-shadow: 0 5px, 5px rgba(rgb(75, 10, 10), rgb(36, 103, 36), rgb(36, 36, 110), alpha);
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.btn-group{
    display: flex;

}

.btn-group button{
    outline: none;
    border: none;
    width: 150px;
    padding: 0.3rem 0;
    margin: 1rem;
    font-size: 17px;
    font-weight: bold;
    color: aliceblue;
    background-color: crimson;
    border-radius: 8px;

}